{{- range .Values.cronjobs }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "travigo-data-importer.fullname" $ }}-{{ .name }}
  labels:
    {{- include "travigo-data-importer.labels" $ | nindent 4 }}
spec:
  schedule: {{ .schedule }}
  jobTemplate:
    metadata:
      {{- with $.Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "travigo-data-importer.selectorLabels" $ | nindent 8 }}
    spec:
      ttlSecondsAfterFinished: 3600
      template:
        spec:
          serviceAccountName: {{ include "travigo-data-importer.serviceAccountName" $ }}
          restartPolicy: OnFailure
          {{- if .batchburst }}
          nodeSelector:
            cloud.google.com/gke-nodepool: batch-burst-node-pool
          tolerations:
            - effect: NoSchedule
              key: BATCH_BURST
              operator: Equal
              value: "true"
          {{- end }}
          containers:
            - name: {{ $.Chart.Name }}-{{ .name }}
              image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag | default $.Chart.AppVersion }}"
              imagePullPolicy: {{ $.Values.image.pullPolicy }}
              args: 
                {{- toYaml .args | nindent 16 }}
              env:
                {{- with .env }}
                {{- toYaml . | nindent 16 }}
                {{- end }}
                - name: TRAVIGO_LOG_FORMAT
                  value: JSON
                - name: TRAVIGO_BODS_API_KEY
                  valueFrom:
                    secretKeyRef:
                      name: {{ $.Values.bods.apiKeySecret }}
                      key: api_key
                      optional: false
                - name: TRAVIGO_NATIONALRAIL_USERNAME
                  valueFrom:
                    secretKeyRef:
                      name: {{ $.Values.nationalRail.credentialsSecret }}
                      key: username
                      optional: true
                - name: TRAVIGO_NATIONALRAIL_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ $.Values.nationalRail.credentialsSecret }}
                      key: password
                      optional: true
                - name: TRAVIGO_NETWORKRAIL_USERNAME
                  valueFrom:
                    secretKeyRef:
                      name: {{ $.Values.nationalRail.networkRailCredentialsSecret }}
                      key: username
                      optional: false
                - name: TRAVIGO_NETWORKRAIL_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ $.Values.nationalRail.networkRailCredentialsSecret }}
                      key: password
                      optional: false
                - name: TRAVIGO_IE_NATIONALTRANSPORT_API_KEY
                  valueFrom:
                    secretKeyRef:
                      name: {{ $.Values.ie_nationaltransport.apiKeySecret }}
                      key: api_key
                      optional: false
                - name: TRAVIGO_MONGODB_CONNECTION
                  valueFrom:
                    secretKeyRef:
                      name: {{ $.Values.database.connectionStringSecret }}
                      key: connectionString.standard
                      optional: false
                - name: TRAVIGO_MONGODB_DATABASE
                  value: {{ $.Values.database.database }}
                - name: TRAVIGO_ELASTICSEARCH_ADDRESS
                  value: {{ $.Values.elasticsearch.address }}
                - name: TRAVIGO_ELASTICSEARCH_USERNAME
                  valueFrom:
                    secretKeyRef:
                      name: {{ $.Values.elasticsearch.accountSecret }}
                      key: username
                      optional: false
                - name: TRAVIGO_ELASTICSEARCH_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ $.Values.elasticsearch.accountSecret }}
                      key: password
                      optional: false
                - name: TRAVIGO_REDIS_ADDRESS
                  value: {{ $.Values.redis.address }}
                - name: TRAVIGO_REDIS_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ $.Values.redis.passwordSecret }}
                      key: password
                      optional: false
              resources:
                {{- toYaml $.Values.resources | nindent 16 }}
{{- end }}
