{{- range .Values.deployments }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "travigo-data-importer.fullname" $ }}-{{ .name }}
  labels:
    {{- include "travigo-data-importer.labels" $ | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "travigo-data-importer.fullname" $ }}-{{ .name }}
  template:
    metadata:
      labels:
        app: {{ include "travigo-data-importer.fullname" $ }}-{{ .name }}
    spec:
      serviceAccountName: {{ include "travigo-data-importer.serviceAccountName" $ }}
      containers:
        - name: {{ $.Chart.Name }}-{{ .name }}
          image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag | default $.Chart.AppVersion }}"
          imagePullPolicy: {{ $.Values.image.pullPolicy }}
          args: 
            {{- toYaml .args | nindent 12 }}
          env:
            {{- with .env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            - name: TRAVIGO_LOG_FORMAT
              value: JSON
            - name: TRAVIGO_BODS_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ $.Values.bods.apiKeySecret }}
                  key: api_key
                  optional: false
            - name: TRAVIGO_IE_NATIONALTRANSPORT_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ $.Values.ie_nationaltransport.apiKeySecret }}
                  key: api_key
                  optional: false
            - name: TRAVIGO_SE_TRAFIKLAB_STATIC_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ $.Values.se_trafiklab.staticSecret }}
                  key: api_key
                  optional: false
            - name: TRAVIGO_SE_TRAFIKLAB_REALTIME_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ $.Values.se_trafiklab.staticSecret }}
                  key: api_key
                  optional: false
            - name: TRAVIGO_MONGODB_CONNECTION
              valueFrom:
                secretKeyRef:
                  name: {{ $.Values.database.connectionStringSecret }}
                  key: connectionString.standard
                  optional: false
            - name: TRAVIGO_MONGODB_DATABASE
              value: {{ $.Values.database.database }}
            # - name: TRAVIGO_REALTIME_MONGODB_CONNECTION
            #   valueFrom:
            #     secretKeyRef:
            #       name: {{ $.Values.database.realtime.connectionStringSecret }}
            #       key: connectionString.standard
            #       optional: false
            # - name: TRAVIGO_REALTIME_MONGODB_DATABASE
            #   value: {{ $.Values.database.realtime.database }}
            - name: TRAVIGO_REDIS_ADDRESS
              value: {{ $.Values.redis.address }}
            - name: TRAVIGO_REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ $.Values.redis.passwordSecret }}
                  key: password
                  optional: false
            - name: TRAVIGO_ELASTICSEARCH_ADDRESS
              value: {{ $.Values.elasticsearch.address }}
            - name: TRAVIGO_ELASTICSEARCH_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ $.Values.elasticsearch.accountSecret }}
                  key: username
                  optional: false
            - name: TRAVIGO_ELASTICSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ $.Values.elasticsearch.accountSecret }}
                  key: password
                  optional: false
          resources:
            {{- toYaml $.Values.resources | nindent 12 }}
{{- end }}
