name: Build, Test, and Deploy

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  GKE_CLUSTER: britbus-gke
  GCP_ZONE: europe-central2-a

jobs:
  data-importer-build:
    name: Build data-importer
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
    - name: Build
      run: go build -v ./cmd/data-importer
    - name: Upload data-importer
      uses: actions/upload-artifact@v2
      with:
        name: data-importer
        path: ./data-importer

  web-api-build:
    name: Build web-api
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
    - name: Build
      run: go build -v ./cmd/web-api
    - name: Upload webapi
      uses: actions/upload-artifact@v2
      with:
        name: web-api
        path: ./web-api

  data-importer-docker:
    name: Package data-importer Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs:
      - data-importer-build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: data-importer
          path: ./

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/data-importer
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha,format=short
            type=sha,format=long

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          file: Dockerfile.data-importer
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  web-api-docker:
    name: Package web-api Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs:
      - web-api-build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: web-api
          path: ./
      
      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/web-api
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha,format=short
            type=sha,format=long

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          file: Dockerfile.web-api
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  data-importer-deploy-helm:
    if: github.ref == 'refs/heads/main'
  
    name: Deploy data-importer to GCP
    runs-on: ubuntu-latest
    environment: production

    needs: data-importer-docker

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Configure Workload Identity Federation and generate an access token.
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        token_format: 'access_token'
        workload_identity_provider: 'projects/635806391814/locations/global/workloadIdentityPools/github/providers/github-actions'
        service_account: 'github-actions@britbus.iam.gserviceaccount.com'

    - name: Helm tool installer
      uses: Azure/setup-helm@v2.0
  
    - name: Set up GKE credentials
      uses: google-github-actions/get-gke-credentials@v0
      with:
        cluster_name: ${{ env.GKE_CLUSTER }}
        location: ${{ env.GCP_ZONE }}

    - name: Helm upgrade
      run: |-
        helm upgrade -i britbus-data-importer ./charts/britbus-data-importer --set image.tag=sha-${{ github.sha }}

  web-api-deploy-helm:
    if: github.ref == 'refs/heads/main'
  
    name: Deploy web-api to GCP
    runs-on: ubuntu-latest
    environment: 
      name: production
      url: https://api.github.com

    needs: web-api-docker

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Configure Workload Identity Federation and generate an access token.
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        token_format: 'access_token'
        workload_identity_provider: 'projects/635806391814/locations/global/workloadIdentityPools/github/providers/github-actions'
        service_account: 'github-actions@britbus.iam.gserviceaccount.com'

    - name: Helm tool installer
      uses: Azure/setup-helm@v2.0
  
    - name: Set up GKE credentials
      uses: google-github-actions/get-gke-credentials@v0
      with:
        cluster_name: ${{ env.GKE_CLUSTER }}
        location: ${{ env.GCP_ZONE }}

    - name: Helm upgrade
      run: |-
        helm upgrade -i britbus-web-api ./charts/britbus-web-api --set image.tag=sha-${{ github.sha }}
