name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build-data-importer:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Build
      run: go build -v ./cmd/data-importer
    - name: Upload data-importer
      uses: actions/upload-artifact@v2
      with:
        name: data-importer
        path: ./data-importer

  build-webapi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Build
      run: go build -v ./cmd/webapi
    - name: Upload webapi
      uses: actions/upload-artifact@v2
      with:
        name: webapi
        path: ./webapi
